---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import ThreeImages from "../components/ThreeImages.astro";
import { Image } from "astro:assets";
import fisk from "../assets/images/fish_tail.webp";
import thumbsup from "../assets/images/thumbsup.png";
import { gsap } from "gsap";
import { ScrollTrigger } from "gsap/ScrollTrigger";
---

<MainLayout title="Titel">
  <div class="pt-124">
    <img src="/microplast.webp" alt="microplastic_background" />
  </div>

  <article class="flex items-center justify-center pt-64 bg-blue">
    <section class="text-center">
      <h3 class="text-h3_s md:text-h3_m lg:text-h3 mx-auto text-white">
        Plastikforurening <span class="text-pink">påvirker os alle</span>
      </h3>
      <div class="flex items-center justify-center max-w-4xl pt-8 pl-4 lg:pl-10">
        <p class="text-p_s md:text-p_m lg:text-p mx-auto text-white text-left">
          Hvert år ender omkring <span class="font-bold">950.000</span> tons mikroplastik i naturen, hvilket udgør en alvorlig trussel mod dyr i alle størrelser, som enten spiser plastikken eller vikles ind i den.
        </p>
      </div>
    </section>
  </article>

  <!-- <section class="parallaxgrafik fullwidthsection">
    <div class="h-screen w-full bg-cover bg-center grid grid-cols-12 overflow-hidden" style="background-image: url('/microplast.webp');">
      <div class="tail bg-gradient-to-r from-blue to-transparent"></div>
      <img src="/fish_no_tail.webp" alt="" class="col-start-4 col-span-3 parallaxgrafik3" />
    </div>
  </section> -->

  <section class="parallaxgrafik fullwidthsection">
    <div class="top-0 h-screen w-full bg-cover bg-center grid grid-cols-12 row-span-6 overflow-hidden" style="background-image: url('/microplast.webp');">
      <div class="tailgrid col-start-5 col-span-12 row-start-1 row-span-1 bg-gradient-to-r from-blue to-transparent h-28 mt-8 ml-24"></div>
      <img src="/fish_no_tail.webp" alt="" class="col-start-4 col-span-3 row-start-1 row-span-1 parallaxgrafik3" />
    </div>
  </section>

  <section class="grid grid-cols-5 grid-rows-4">
    <div class="h-screen w-full bg-cover bg-center grid grid-cols-12 overflow-hidden col-start-1 col-span-5 row-start-1 row-span-4" style="background-image: url('/microplast2.webp');"></div>
    <p class="text-p_s md:text-p_m lg:text-p mx-auto text-white text-left col-start-1 col-span-5 lg:col-start-2 lg:col-span-3 row-start-2 row-span-1 pl-6 lg:pl-10">
      Når fisk indtager plastik, overføres skadelige kemikalier fra plastikken til deres væv, og når vi spiser fisken, kan disse kemikalier overføres til os.
    </p>
    <p class="text-p_s md:text-p_m lg:text-p mx-auto text-white text-left col-start-1 col-span-5 lg:col-start-2 lg:col-span-3 row-start-3 row-span-1 pl-6 lg:pl-10">
      Det kan få alvorlige sundhedskonsekvenser for mennesker. Plastikforureningen risikerer at påvirke hele fødekæden og økosystemet i fremtiden.
    </p>
  </section>

  <section class="bg-blue pb-160">
    <ThreeImages img="/stone2.webp" text="Forsvinder aldrig" img2="/seabird1.webp" text2="Truer havmiljøet" img3="/plate3.webp" text3="Ender i fødekæden" />
  </section>

  <!-- <article id="" class="sticky gradient flex items-center justify-center mt-160" style=" top: 90%; transform: translateY(-50%);">
    <section class="text-left h-screen w-100 bg-cover bg-center">
      <h3 class="fadein_text stickyparallax1 text-h3_s md:text-h3_m lg:text-h3 mx-auto text-blue pl-4 lg:pl-0">
        <span class="text-pink">Plastik Change</span>:
      </h3>
      <h3 class="fadein_text1 text-h3_s md:text-h3_m lg:text-h3 mx-auto text-blue pl-4 lg:pl-0">
        En fremtid med <span class="text-pink">mindre plastik</span>
      </h3>

      <div class="fadein_text2 flex items-center justify-center max-w-4xl pt-8 pl-4 lg:pl-0">
        <p class="text-p_s md:text-p_m lg:text-p mx-auto text-blue text-left">Plastic Change arbejder mod en fremtid med mindre plastikforbrug ved at påvirke politiske beslutninger og fremme innovative løsninger i kampen mod plastikforurening.</p>
      </div>
      <div class="fadein_text3 flex items-center justify-center max-w-4xl pt-8 pl-4 lg:pl-0">
        <p class="text-p_s md:text-p_m lg:text-p mx-auto text-blue text-left pt-4">Målet er at beskytte miljøet og fremtidens generationer, og med din støtte kan vi fortsætte kampen.</p>
      </div>
    </section>
  </article> -->
  <div class="gradient"></div>
  <article id="" class="sticky flex items-center justify-center" style=" top: 90%; transform: translateY(-50%);">
    <section class="text-left h-screen w-100 bg-cover bg-center">
      <h3 class="fadein_text stickyparallax1 text-h3_s md:text-h3_m lg:text-h3 mx-auto text-blue pl-4 lg:pl-0">
        <span class="text-pink">Plastik Change</span>:
      </h3>
      <h3 class="fadein_text1 text-h3_s md:text-h3_m lg:text-h3 mx-auto text-blue pl-4 lg:pl-0">
        En fremtid med <span class="text-pink">mindre plastik</span>
      </h3>

      <div class="fadein_text2 flex items-center justify-center max-w-4xl pt-8 pl-4 lg:pl-0">
        <p class="text-p_s md:text-p_m lg:text-p mx-auto text-blue text-left">Plastic Change arbejder mod en fremtid med mindre plastikforbrug ved at påvirke politiske beslutninger og fremme innovative løsninger i kampen mod plastikforurening.</p>
      </div>
      <div class="fadein_text3 flex items-center justify-center max-w-4xl pt-8 pl-4 lg:pl-0">
        <p class="text-p_s md:text-p_m lg:text-p mx-auto text-blue text-left pt-4">Målet er at beskytte miljøet og fremtidens generationer, og med din støtte kan vi fortsætte kampen.</p>
      </div>
    </section>
  </article>

  <section class="grid grid-cols-2 bg-pink place-items-center">
    <div>
      <h4 class="text-h4 text-blue text-center">Hvis vi ikke ændrer vores vaner</h4>
      <img src="/seabird1.webp" alt="" />
    </div>
    <div>
      <h4 class="text-h4 text-blue text-center">Fremtiden vi kæmper for</h4>
      <img src="/seabird1.webp" alt="" />
    </div>
  </section>

  <!-- <section><img src="/microplast.webp" alt="" /></section> -->
  <style>
    .delay {
      animation-delay: 1s;
      animation-duration: 2s;
    }
    .delay-1 {
      animation-delay: 2s;
      animation-duration: 2s;
    }
    .delay-2 {
      animation-delay: 2.5s;
      animation-duration: 2s;
    }
    .delay-3 {
      animation-delay: 3s;
      animation-duration: 2s;
    }
  </style>

  <script>
    import { animate, stagger, inView, scroll, timeline, type OnScroll, type ScrollOptions, type ScrollInfo, ScrollOffset } from "motion";
    // function scrollCallback(info: ScrollInfo) {
    //   if (info.y.progress < 0.5) {
    //     animate(".parallaxgrafik3", {
    //       x: [1000, -1000],
    //       y: [-300, 600],
    //     });
    //   }
    // }

    // scroll((info) => scrollCallback(info), {
    //   target: document.querySelector(".parallaxgrafik"),
    //   offset: ["start end", "end start"],
    // });

    scroll(
      timeline(
        [
          [".parallaxgrafik3", { x: [1500, -300], y: [-150, 250] }, { at: 2.5, duration: 2.5 }], // start 25% into scrolling and lasts 25%
          [".tailgrid", { x: [1500, -300], y: [-150, 250] }, { at: 2.5, duration: 2.5 }],
          // [".tail", { x: [2000, 200], y: [-125, 275] }, { at: 2.5, duration: 2.5 }],
          [".parallaxgrafik3", { rotate: 180, y: [250, 400] }, { at: 5.0, duration: 1.0 }],
          [".tailwindgrid", { rotate: 180, y: [250, 400] }, { at: 5.0, duration: 1.0 }],
          // [".tail", { opacity: [1, 0] }, { at: 5, duration: 1.0 }],
          [".parallaxgrafik3", { y: [400, 630] }, { duration: 2.0 }], // start at 5+1 =6
          [".parallaxgrafik3", { y: [400, 630] }, { duration: 2.0 }],
        ],
        { duration: 1.0 }
      ),
      {
        target: document.querySelector(".parallaxgrafik"),
        offset: ["start end", "end start"],
      }
    );

    // scroll(
    //   animate(".parallaxgrafik3", {
    //     x: [1000, -1000],
    //     y: [-300, 600],
    //   }),
    //   {
    //     target: document.querySelector(".parallaxgrafik"),
    //     offset: ["start end", "end start"],
    //   }
    // );

    const inviewelementet = document.querySelector(".fadein_text");
    inView(inviewelementet, () => {
      inviewelementet.classList.add("animate__animated", "animate__fadeInLeft", "delay");
    });

    const inviewelementet1 = document.querySelector(".fadein_text1");
    inView(inviewelementet1, () => {
      inviewelementet1.classList.add("animate__animated", "animate__fadeInLeft", "delay-1");
    });

    const inviewelementet2 = document.querySelector(".fadein_text2");
    inView(inviewelementet2, () => {
      inviewelementet2.classList.add("animate__animated", "animate__fadeInLeft", "delay-2");
    });

    const inviewelementet3 = document.querySelector(".fadein_text3");
    inView(inviewelementet3, () => {
      inviewelementet3.classList.add("animate__animated", "animate__fadeInLeft", "delay-3");
    });

    scroll(animate(".stickyparallax1", { y: [-300, 0] }), {
      target: document.querySelector(".stickyparallax1"),
    });
  </script>
</MainLayout>
