---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import ThreeImages from "../components/ThreeImages.astro";

import BeforeAfterComparison from "../components/BeforeAfterComparison.astro";
---

<MainLayout title="Single Use Sucks" description="En hjemmesider der handler om plastikforurening" og:title="Single Use Sucks" og:description="Dette er en hjemmesside lavet af Plastic Change, og omhandler plastikforurening">
  <div class="sticky z-50 top-6 px-8 col-span-12"><img src="logo.webp" alt="Plastic Change logo" /></div>
  <section id="hero" class="bg-blue mt-[-80px]">
    <div class="grid grid-cols-12 gap-5 auto-rows-[40px] max-w-7xl mx-auto">
      <img src="/img/hero.webp" alt="Baggrunds billede til hero sektion" class="z-0 col-span-12" />
      <div class="hidden col-start-3 col-span-4 row-start-5 row-span-3 ml-9 mt-4 z-10"><img src="/img/bag1.webp" alt="billede af plastikpose" /></div>
      <div class="hidden col-start-7 col-span-1 row-start-5 row-span-2 z-10"><img src="/img/bottle2.webp" alt="billede af plastikflaske" /></div>
      <div class="hidden col-start-9 col-span-2 row-start-5 row-span-2 z-10"><img src="/img/bag3.webp" alt="billede af en anden plastikpose" /></div>
      <div class="up20-1 col-start-1 col-span-3 row-start-4 md:row-start-5 lg:row-start-7 row-span-4 mt-20 z-20"><img src="/img/bag4.webp" alt="billede af en tredje plastikpose" /></div>
      <div class="hidden col-start-3 col-span-2 row-start-7 row-span-2 z-10"><img src="/img/bottle5.webp" alt="billede af en anden plastikflaske" /></div>
      <div class="up20-2 col-start-10 col-span-3 row-start-6 md:row-start-7 lg:row-start-9 row-span-3 mt-[-30px] z-10"><img src="/img/bag6.webp" alt="billede af en fjerde plastikpose" /></div>
      <div class="up10-1 col-start-2 col-span-3 row-start-7 md:row-start-9 lg:row-start-12 row-span-3 z-10"><img src="/img/bag7.webp" alt="billede af en femte plastikpose" /></div>
      <div class="up20-3 col-start-5 col-span-3 row-start-7 md:row-start-9 lg:row-start-11 row-span-3 z-10"><img src="/img/bag8.webp" alt="billede af en sjete plastikpose" /></div>
      <div class="up10-2 col-start-7 col-span-4 row-start-7 md:row-start-9 lg:row-start-11 row-span-3 mt-[-20px] z-10"><img src="/img/bag9.webp" alt="billede af en syvende plastikpose" /></div>
      <article class="justify-center text-center mt-[-30px] lg:mt-3 col-span-12 z-20">
        <h1 class="relative z-30 text-[50px] md:text-[100px] lg:text-[140px] font-display text-white">SINGLE USE</h1>
        <h1 class="text-[150px] md:text-[280px] lg:text-[380px] leading-[26px] md:leading-[55px] font-display text-pink pb-20 md:pb-32 lg:pb-36">SUCKS</h1>
        <h2 class="text-2xl md:text-3xl lg:text-5xl text-center font-rubik text-white px-8 md:px-44 pb-8">Vores verden kan ikke holde til mere unødvendig plastik.</h2>
        <a href="#støt" target="_self"><Button>Støt os</Button></a>
      </article>
    </div>
  </section>

  <!-------------------------------------------- FORURENING SEKTION -------------------------------------------->
  <section id="forurening" class="bg-blue text-white">
    <div class="grid grid-cols-12 parallaxgrafik max-w-7xl mx-auto">
      <div class="col-start-1 col-span-2 row-start-2 row-span-1 mt-[-100px] lg:mt-0 z-10"><img src="/img/bottle10.webp" alt="Billede af en tredje plastikflaske" /></div>
      <div class="col-start-5 col-span-3 row-start-1 row-span-2 mt-[-100px] lg:mt-0 z-10"><img src="/img/bottle11.webp" alt="Billede af en fjerde plastikflaske" /></div>
      <div class="col-start-8 col-span-2 row-start-2 row-span-2 z-10"><img src="/img/bottle12.webp" alt="Billede af en femte plastikflaske" /></div>
      <div class="col-start-10 col-span-3 row-start-1 row-span-3 mt-[-100px] lg:mt-0 z-10"><img src="/img/bag13.webp" alt="Billede af en ottende plastikpose" /></div>
      <div class="col-start-2 col-span-3 row-start-3 row-span-2 z-10"><img src="/img/bottle14.webp" alt="Billede af en sjette plastikflaske" /></div>
      <div class="col-start-3 col-span-5 row-start-4 row-span-5 z-10"><img src="/img/bottle15.webp" alt="Billede af en syvende plastikflaske" /></div>
      <div class="col-start-7 col-span-2 row-start-3 row-span-2 z-10"><img src="/img/bottle16.webp" alt="Billede af en ottende plastikflaske" /></div>
      <div class="col-start-10 col-span-3 row-start-4 row-span-2 mt-[-80px] z-10"><img src="/img/bottle17.webp" alt="Billede af en niende plastikflaske" /></div>
      <div class="col-start-8 col-span-2 row-start-5 row-span-2 z-10"><img src="/img/bottle18.webp" alt="Billede af en tiende plastikflaske" /></div>
      <div class="col-start-11 col-span-2 row-start-5 row-span-2 z-10"><img src="/img/bottle19.webp" alt="Billede af plastikflaske nummer elve" /></div>
      <div class="col-start-1 col-span-5 row-start-2 row-span-3 z-30 parallaxgrafik1"><img src="/img/turtle.webp" alt="Billede af en skildpadde" /></div>
      <article class="grid justify-center col-span-12 z-30 mt-[-100px] lg:mt-[-280px]">
        <h3 class="text-h3_s md:text-h3_m lg:text-h3 text-white text-center">Plastik: En fjende, der <span class="text-pink">ikke</span> forsvinder</h3>
        <p class="text-p_s md:text-p_m lg:text-p text-white max-w-4xl mx-auto">
          Forureningen opstår blandt andet, når plastik ender i naturen. Her viser beregninger at det kan tage op til <span class="font-bold">500 år</span> før det nedbrydes til mikroplastik. Man ved faktisk ikke om det forsvinder helt.
        </p>
        <article class="crossfadeimages scrollzoom mx-auto relative h-screen lg:w-screen my-20 flex items-center justify-center">
          <img src="/img/pose_mikroplast.webp" alt="Billede af en plastik pose opløst til mikroplastik" class="crossfadetopimg scrollzoomimg object-cover h-screen absolute top-0 z-0 my-0" />
          <img src="/img/pose.webp" alt="Billede af en gammel plastikpose" class="crossfadebottomimg object-cover h-screen absolute top-0 z-0 my-0 -rotate-90" />
        </article>
        <p class="text-p_s md:text-p_m lg:text-p text-white max-w-4xl mx-auto">I havet er det solens UV-stråler der gør plastikken skrøbelig, og havets kræfter nedbryder den i millioner af små stykker.</p>
      </article>
    </div>
  </section>

  <!-------------------------------------------- PROBLEMER SEKTION -------------------------------------------->
  <section id="problemer" class="pt-64 bg-blue">
    <article class="text-center flex flex-col items-center justify-center">
      <h3 class="text-h3_s md:text-h3_m lg:text-h3 mx-auto text-white">Plastikforurening <span class="text-pink">påvirker os alle</span></h3>
      <div class="flex items-center justify-center max-w-4xl pt-8 pl-4 lg:pl-10">
        <p class="text-p_s md:text-p_m lg:text-p mx-auto text-white text-left">
          Hvert år ender omkring <span class="font-bold">950.000</span> tons mikroplastik i naturen, hvilket udgør en alvorlig trussel mod dyr i alle størrelser, som enten spiser plastikken eller vikles ind i den.
        </p>
      </div>
    </article>
    <article class="parallaxgrafikfisk fullwidthsection">
      <div class="top-0 h-screen w-full bg-cover bg-center grid grid-cols-12 row-span-6 overflow-hidden" style="background-image: url('/microplast.webp');">
        <div class="tailgrid col-start-5 col-span-12 row-start-1 row-span-1 bg-gradient-to-r from-blue to-transparent h-28 mt-8 ml-24"></div>
        <img src="/fish_no_tail.webp" alt="Billede af en fisk" class="col-start-4 col-span-3 row-start-1 row-span-1 parallaxgrafik3" />
      </div>
    </article>
    <article class="grid grid-cols-5 grid-rows-4">
      <div class="h-screen w-full bg-cover bg-center grid grid-cols-12 overflow-hidden col-start-1 col-span-5 row-start-1 row-span-4" style="background-image: url('/microplast2.webp');"></div>
      <p class="text-p_s md:text-p_m lg:text-p mx-auto text-white text-left col-start-1 col-span-5 lg:col-start-2 lg:col-span-3 row-start-2 row-span-1 pl-6 lg:pl-10">Når fisk indtager plastik, overføres skadelige kemikalier fra plastikken til deres væv, og når vi spiser fisken, kan disse kemikalier overføres til os.</p>
      <p class="text-p_s md:text-p_m lg:text-p mx-auto text-white text-left col-start-1 col-span-5 lg:col-start-2 lg:col-span-3 row-start-3 row-span-1 pl-6 lg:pl-10">Det kan få alvorlige sundhedskonsekvenser for mennesker. Plastikforureningen risikerer at påvirke hele fødekæden og økosystemet i fremtiden.</p>
    </article>
    <article class="bg-blue text-white pb-24 md:pb-160">
      <ThreeImages img="/stone2.webp" text="Forsvinder aldrig" img2="/seabird1.webp" text2="Truer havmiljøet" img3="/plate3.webp" text3="Ender i fødekæden" />
    </article>
  </section>

  <div class="gradient"></div>

  <!-------------------------------------------- PLASTIC CHANGE SEKTION -------------------------------------------->

  <section id="change" class="mb-32">
    <div class="flex flex-row items-center justify-center h-screen w-100 bg-cover bg-center sticky top-0">
      <div class="fadein_text">
        <h3 class="text-h3_s md:text-h3_m lg:text-h3 text-pink text-center">Plastik Change:</h3>
        <h3 class="text-h3_s md:text-h3_m lg:text-h3 text-blue text-center pb-8">En fremtid med <span class="text-pink">mindre plastik</span></h3>
        <p class="text-p_s md:text-p_m lg:text-p text-blue max-w-4xl mx-auto text-left pb-4">Plastic Change arbejder mod en fremtid med mindre plastikforbrug ved at påvirke politiske beslutninger og fremme innovative løsninger i kampen mod plastikforurening.</p>
        <p class="text-p_s md:text-p_m lg:text-p text-blue max-w-4xl mx-auto text-left">Målet er at beskytte miljøet og fremtidens generationer, og med din støtte kan vi fortsætte kampen.</p>
      </div>
    </div>

    <div class="flex flex-col items-center h-screen w-100 bg-cover bg-center sticky top-0" style="background-color: white;">
      <div class="w-full"><BeforeAfterComparison /></div>
    </div>
  </section>

  <!-------------------------------------------- STØT SEKTION -------------------------------------------->
  <section id="støt" class="mb-32 text-blue bg-white z-30 max-w-7xl mx-auto">
    <article>
      <h3 class="text-h3_s md:text-h3_m lg:text-h3 text-blue text-center mb-8">Hjælp os med at <span class="text-pink">stoppe forureningen</span> i dag</h3>
      <div class="grid md:grid-cols-2 items-center auto-rows-min">
        <div class="lg:ml-32">
          <form action="" class="w-auto text-p_s md:text-p_m lg:text-p">
            <!-- BELØB -->
            Jeg vil gerne donerer
            <select class="font-bold text-p_s md:text-p_m lg:text-p bg-none border-0 bg-transparent inline-block p-0 m-0 focus:ring-0 focus:border-pink cursor-pointer text-pink">
              <option value="1" selected>et beløb</option>
              <option value="2">50 kr</option>
              <option value="3">100 kr</option>
              <option value="4">200 kr</option>
              <option value="2">300 kr</option>
            </select>

            <!-- GANGE -->
            <select class="font-bold text-p_s md:text-p_m lg:text-p bg-none border-0 bg-transparent inline-block p-0 m-0 focus:ring-0 focus:border-pink cursor-pointer text-pink">
              <option value="1" selected>antal gange</option>
              <option value="2">en gang</option>
              <option value="4">månedligt</option>
              <option value="2">årligt</option>
            </select>

            <!-- BETALINGSFORM -->
            med
            <select class="font-bold text-p_s md:text-p_m lg:text-p mb-4 md:mb-8 bg-none border-0 bg-transparent inline-block p-0 m-0 focus:ring-0 focus:border-pink cursor-pointer text-pink">
              <option value="1" selected>betalingsform</option>
              <option value="2">mobilepay</option>
              <option value="4">Dankort</option>
              <option value="2">Kreditkort</option>
            </select><br />

            <!-- PERSON OPLYSNINGER -->
            Jeg bor i
            <input type="text" value="" placeholder="postnummer" class="font-bold text-p_s md:text-p_m lg:text-p w-[135px] bg-none border-0 bg-transparent inline-block p-0 m-0 focus:ring-0 focus:border-pink cursor-pointer text-pink placeholder-pink" />
            og kan kontaktes på
            <input type="number" value="" placeholder="tlf." class="font-bold text-p_s md:text-p_m lg:text-p w-24 bg-none border-0 bg-transparent inline-block p-0 m-0 focus:ring-0 focus:border-pink cursor-pointer text-pink placeholder-pink" />
            eller
            <input type="email" value="" placeholder="mail" class="font-bold text-p_s md:text-p_m lg:text-p mb-4 md:mb-8 bg-none border-0 bg-transparent inline-block p-0 m-0 focus:ring-0 focus:border-pink cursor-pointer text-pink placeholder-pink" /><br />

            <!-- SKAT + SAMTYKKE -->
            Jeg ønsker
            <select class="font-bold text-p_s md:text-p_m lg:text-p bg-none border-0 bg-transparent inline-block p-0 m-0 focus:ring-0 focus:border-pink cursor-pointer text-pink">
              <option value="1" selected>fradrag fra SKAT</option>
              <option value="2">Ja</option>
              <option value="3">Nej</option>
            </select>
            , og giver mit
            <select class="font-bold text-p_s md:text-p_m lg:text-p mb-4 md:mb-8 bg-none border-0 bg-transparent inline-block p-0 m-0 focus:ring-0 focus:border-pink cursor-pointer text-pink">
              <option value="1" selected>samtykke</option>
              <option value="2">Ja</option>
              <option value="3">Nej</option>
            </select>
            til <a href="https://plasticchange.dk/privatlivspolitik/">Plastic Change</a><br />

            Med venlig hilsen,
            <input type="text" value="" placeholder="fornavn" class="font-bold text-p_s md:text-p_m lg:text-p w-[75px] bg-none border-0 bg-transparent inline-block p-0 m-0 focus:ring-0 focus:border-pink cursor-pointer text-pink placeholder-pink" />
            <input type="text" value="" placeholder="efternavn" class="font-bold text-p_s md:text-p_m lg:text-p w-24 mb-4 md:mb-8 bg-none border-0 bg-transparent inline-block p-0 m-0 focus:ring-0 focus:border-pink cursor-pointer text-pink placeholder-pink" />
            <a href="/index"><Button type="submit">Send donation</Button></a>
          </form>
        </div>
        <div class="grid grid-rows-1 relative parallaxseal">
          <div class="row-start-1 row-span-1"><img src="/img/seal.webp" alt="Billede af en sæl" class="absolute z-10 w-[350px] inset-x-20 md:inset-x-36 bottom-24 lg:bottom-36 parallaxseal1" /></div>
          <div class="row-start-1 row-span-1"><img src="/img/isbjerg.webp" alt="Billede af et isbjerg" class="relative z-0" /></div>
        </div>
      </div>
    </article>
    <article class="text-blue mt-36">
      <h4 class="text-h3_s md:text-h3_m lg:text-h3 text-blue text-center mb-8">Det kan du <span class="text-pink">også</span> gøre:</h4>
      <ThreeImages img="/img/bottle_white.webp" text="Undgå engangsprodukter" img2="/img/trashcan.webp" text2="Sorter dit affald" img3="/img/tote.webp" text3="Vælg genbrugsløsninger" />
    </article>
  </section>
</MainLayout>

<style>
  .delay {
    animation-delay: 1s;
    animation-duration: 2s;
  }
  .delay-1 {
    animation-delay: 2s;
    animation-duration: 2s;
  }
  .delay-2 {
    animation-delay: 2.5s;
    animation-duration: 2s;
  }
  .delay-3 {
    animation-delay: 3s;
    animation-duration: 2s;
  }
</style>

<script>
  /*************** Import af Motion One biblioteket ***************/
  import { animate, stagger, inView, scroll, timeline } from "motion";

  /************************** Bevægelse af plastikpose i hero **************************/
  animate(
    ".up20-1",
    { y: [0, -20, 0] }, // op og ned
    {
      duration: 5, // Animationens varighed i sekunder
      easing: "linear", // Blød overgang
      repeat: Infinity, // Gentager uendeligt
    }
  );
  animate(
    ".up20-2",
    { y: [0, -20, 0] }, // op og ned
    {
      duration: 7, // Animationens varighed i sekunder
      easing: "linear", // Blød overgang
      repeat: Infinity, // Gentager uendeligt
    }
  );
  animate(
    ".up20-3",
    { y: [0, -20, 0] }, // op og ned
    {
      duration: 6, // Animationens varighed i sekunder
      easing: "linear", // Blød overgang
      repeat: Infinity, // Gentager uendeligt
    }
  );

  animate(
    ".up10-1",
    { y: [0, -10, 0] }, // op og ned
    {
      duration: 5, // Animationens varighed i sekunder
      easing: "linear", // Blød overgang
      repeat: Infinity, // Gentager uendeligt
    }
  );

  animate(
    ".up10-2",
    { y: [0, -10, 0] }, // op og ned
    {
      duration: 4, // Animationens varighed i sekunder
      easing: "linear", // Blød overgang
      repeat: Infinity, // Gentager uendeligt
    }
  );

  /****************** Parallaxgrafik turtle ******************/
  scroll(animate(".parallaxgrafik1", { x: [-100, 900] }), {
    target: document.querySelector(".parallaxgrafik"),
    offset: ["start end", "end start"],
  });

  /******************* Crossfade plastikpose *******************/
  // Fade out effect for crossfadebottomimg
  scroll(
    animate(".crossfadebottomimg", {
      opacity: [1, 0],
    }),
    {
      target: document.querySelector(".crossfadeimages"),
      offset: ["-20vh", "0vh"],
    }
  );

  // Fade in effect for crossfadetopimg
  scroll(
    animate(".crossfadetopimg", {
      opacity: [0, 1],
    }),
    {
      target: document.querySelector(".crossfadeimages"),
      offset: ["-20vh", "0vh"],
    }
  );

  /* Zoom mikroplastikpose */
  scroll(
    animate(".scrollzoomimg", {
      scale: [1, 1.3],
    }),
    {
      target: document.querySelector(".scrollzoom"),
      offset: ["0.75 end", "end end"],
    }
  );

  /******************* Parallaxgrafik fisk *******************/
  scroll(
    timeline(
      [
        [".parallaxgrafik3", { x: [1500, -300], y: [-150, 250] }, { at: 2.5, duration: 2.5 }], // start 25% into scrolling and lasts 25%
        [".tailgrid", { x: [1500, -300], y: [-150, 250] }, { at: 2.5, duration: 2.5 }],
        // [".tail", { x: [2000, 200], y: [-125, 275] }, { at: 2.5, duration: 2.5 }],
        [".parallaxgrafik3", { rotate: 180, y: [250, 400] }, { at: 5.0, duration: 1.0 }],
        [".tailwindgrid", { rotate: 180, y: [250, 400] }, { at: 5.0, duration: 1.0 }],
        // [".tail", { opacity: [1, 0] }, { at: 5, duration: 1.0 }],
        [".parallaxgrafik3", { y: [400, 630] }, { duration: 2.0 }], // start at 5+1 =6
        [".parallaxgrafik3", { y: [400, 630] }, { duration: 2.0 }],
      ],
      { duration: 1.0 }
    ),
    {
      target: document.querySelector(".parallaxgrafikfisk"),
      offset: ["start end", "end start"],
    }
  );

  /******************* Fade in animation til text *******************/
  const inviewelementet = document.querySelector(".fadein_text");
  inView(inviewelementet, () => {
    inviewelementet.classList.add("animate__animated", "animate__fadeInLeft", "delay");
  });

  /******************* Parallaxgrafik sæl *******************/
  scroll(animate(".parallaxseal1", { x: [400, -30, 400] }), {
    target: document.querySelector(".parallaxseal"),
    offset: ["start end", "end start"],
  });
</script>
