---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import hero from "../assets/images/new_hero.png";
---

<MainLayout title="Titel">
  <section id="hero" class="bg-blue">
    <div class="grid grid-cols-12 gap-5 auto-rows-[40px]">
      <img src="/img/hero_test.png" alt="" class="z-0 col-span-12" />
      <div class="hidden col-start-3 col-span-4 row-start-5 row-span-3 ml-9 mt-4 z-10"><img src="/img/bag1.png" alt="" /></div>
      <div class="hidden col-start-7 col-span-1 row-start-5 row-span-2 z-10"><img src="/img/bottle2.png" alt="" /></div>
      <div class="hidden col-start-9 col-span-2 row-start-5 row-span-2 z-10"><img src="/img/bag3.png" alt="" /></div>
      <div class="up20-1 col-start-1 col-span-3 row-start-4 md:row-start-5 lg:row-start-7 row-span-4 mt-20 z-10"><img src="/img/bag4.png" alt="" /></div>
      <div class="hidden col-start-3 col-span-2 row-start-7 row-span-2 z-10"><img src="/img/bottle5.png" alt="" /></div>
      <div class="up20-2 col-start-10 col-span-3 row-start-6 md:row-start-7 lg:row-start-9 row-span-3 mt-[-30px] z-10"><img src="/img/bag6.png" alt="" /></div>
      <div class="up10-1 col-start-2 col-span-3 row-start-7 md:row-start-9 lg:row-start-12 row-span-3 z-10"><img src="/img/bag7.png" alt="" /></div>
      <div class="up20-3 col-start-5 col-span-3 row-start-7 md:row-start-9 lg:row-start-11 row-span-3 z-10"><img src="/img/bag8.png" alt="" /></div>
      <div class="up10-2 col-start-7 col-span-4 row-start-7 md:row-start-9 lg:row-start-11 row-span-3 mt-[-20px] z-10"><img src="/img/bag9.png" alt="" /></div>
      <article class="justify-center text-center mt-[-30px] lg:mt-3 col-span-12 z-20">
        <h1 class="relative z-30 text-[50px] md:text-[100px] lg:text-[140px] font-display text-white">SINGLE USE</h1>
        <h1 class="text-[150px] md:text-[280px] lg:text-[380px] leading-[26px] md:leading-[55px] font-display text-pink pb-20 md:pb-32 lg:pb-36">SUCKS</h1>
        <h2 class="text-2xl md:text-3xl lg:text-5xl text-center font-rubik text-white px-8 md:px-44 pb-2">Vores verden kan ikke holde til mere unødvendig plastik.</h2>
        <Button>Støt os</Button>
      </article>
    </div>
  </section>

  <section id="forurening" class="bg-blue text-white">
    <div class="grid grid-cols-12 parallaxgrafik">
      <div class="col-start-1 col-span-2 row-start-2 row-span-1 mt-[-100px] lg:mt-0 z-10"><img src="/img/bottle10.png" alt="" /></div>
      <div class="col-start-5 col-span-3 row-start-1 row-span-2 mt-[-100px] lg:mt-0 z-10"><img src="/img/bottle11.png" alt="" /></div>
      <div class="col-start-8 col-span-2 row-start-2 row-span-2 z-10"><img src="/img/bottle12.png" alt="" /></div>
      <div class="col-start-10 col-span-3 row-start-1 row-span-3 mt-[-100px] lg:mt-0 z-10"><img src="/img/bag13.png" alt="" /></div>
      <div class="col-start-2 col-span-3 row-start-3 row-span-2 z-10"><img src="/img/bottle14.png" alt="" /></div>
      <div class="col-start-3 col-span-5 row-start-4 row-span-5 z-10"><img src="/img/bottle15.png" alt="" /></div>
      <div class="col-start-7 col-span-2 row-start-3 row-span-2 z-10"><img src="/img/bottle16.png" alt="" /></div>
      <div class="col-start-10 col-span-3 row-start-4 row-span-2 mt-[-80px] z-10"><img src="/img/bottle17.png" alt="" /></div>
      <div class="col-start-8 col-span-2 row-start-5 row-span-2 z-10"><img src="/img/bottle18.png" alt="" /></div>
      <div class="col-start-11 col-span-2 row-start-5 row-span-2 z-10"><img src="/img/bottle19.png" alt="" /></div>
      <div class="col-start-1 col-span-5 row-start-2 row-span-3 z-30 parallaxgrafik1"><img src="/img/turtle.png" alt="" /></div>
      <article class="grid justify-center col-span-12 z-30 mt-[-100px] lg:mt-[-280px]">
        <h3 class="text-h3_s md:text-h3_m lg:text-h3 text-white text-center">Plastik: En fjende, der <span class="text-pink">ikke</span> forsvinder</h3>
        <p class="text-p_s md:text-p_m lg:text-p text-white max-w-4xl mx-auto">Forureningen opstår blandt andet, når plastik ender i naturen. Her viser beregninger at det kan tage op til <span class="font-bold">500 år</span> før det nedbrydes til mikroplastik. Man ved faktisk ikke om det forsvinder helt.</p>
        <article class="crossfadeimages mx-auto relative h-screen lg:w-screen my-32 flex items-center justify-center">
          <img src="/img/pose_mikroplast.png" alt="" class="crossfadetopimg object-cover h-screen absolute top-0 z-0 my-0" />
          <img src="/img/pose.png" alt="" class="crossfadebottomimg object-cover h-screen absolute top-0 z-0 my-0" />
        </article>
        <p class="text-p_s md:text-p_m lg:text-p text-white max-w-4xl mx-auto">I havet er det solens UV-stråler der gør plastikken skrøbelig, og havets kræfter nedbryder den i millioner af små stykker.</p>
      </article>
    </div>
  </section>

  <section id="støt" class="my-32 text-blue">
    <article>
      <h3 class="text-h3_s md:text-h3_m lg:text-h3 text-blue text-center mb-8">Hjælp os med at <span class="text-pink">stoppe forureningen</span> i dag</h3>
      <div class="grid md:grid-cols-2 items-center">
        <div class="ml-32">
          <form action="" class="w-auto text-p_s md:text-p_m lg:text-p">
            <!-- BELØB -->
            Jeg vil gerne donerer
            <select class="text-p_s md:text-p_m lg:text-p bg-none border-0 bg-transparent inline-block p-0 m-0 focus:ring-0 focus:border-pink cursor-pointer text-pink">
              <option value="1" selected>et beløb</option>
              <option value="2">50 kr</option>
              <option value="3">100 kr</option>
              <option value="4">200 kr</option>
              <option value="2">300 kr</option>
            </select>

            <!-- GANGE -->
            <select class="text-p_s md:text-p_m lg:text-p bg-none border-0 bg-transparent inline-block p-0 m-0 focus:ring-0 focus:border-pink cursor-pointer text-pink">
              <option value="1" selected>antal gange</option>
              <option value="2">en gang</option>
              <option value="4">månedligt</option>
              <option value="2">årligt</option>
            </select>

            <!-- BETALINGSFORM -->
            med
            <select class="text-p_s md:text-p_m lg:text-p mb-4 md:mb-8 bg-none border-0 bg-transparent inline-block p-0 m-0 focus:ring-0 focus:border-pink cursor-pointer text-pink">
              <option value="1" selected>betalingsform</option>
              <option value="2">mobilepay</option>
              <option value="4">Dankort</option>
              <option value="2">Kreditkort</option>
            </select><br />

            <!-- PERSON OPLYSNINGER -->
            Jeg bor i
            <input type="text" value="" placeholder="postnummer" class="text-p_s md:text-p_m lg:text-p w-[115px] bg-none border-0 bg-transparent inline-block p-0 m-0 focus:ring-0 focus:border-pink cursor-pointer text-pink placeholder-pink" />
            og kan kontaktes på
            <input type="number" value="" placeholder="tlf." class="text-p_s md:text-p_m lg:text-p w-24 bg-none border-0 bg-transparent inline-block p-0 m-0 focus:ring-0 focus:border-pink cursor-pointer text-pink placeholder-pink" />
            eller
            <input type="email" value="" placeholder="mail" class="text-p_s md:text-p_m lg:text-p mb-4 md:mb-8 bg-none border-0 bg-transparent inline-block p-0 m-0 focus:ring-0 focus:border-pink cursor-pointer text-pink placeholder-pink" /><br />

            <!-- SKAT + SAMTYKKE -->
            Jeg ønsker
            <select class="text-p_s md:text-p_m lg:text-p bg-none border-0 bg-transparent inline-block p-0 m-0 focus:ring-0 focus:border-pink cursor-pointer text-pink">
              <option value="1" selected>fradrag fra SKAT</option>
              <option value="2">Ja</option>
              <option value="3">Nej</option>
            </select>
            , og giver mit
            <select class="text-p_s md:text-p_m lg:text-p mb-4 md:mb-8 bg-none border-0 bg-transparent inline-block p-0 m-0 focus:ring-0 focus:border-pink cursor-pointer text-pink">
              <option value="1" selected>samtykke</option>
              <option value="2">Ja</option>
              <option value="3">Nej</option>
            </select>
            til <a href="https://plasticchange.dk/privatlivspolitik/">Plastic Change</a><br />

            Med venlig hilsen,
            <input type="text" value="" placeholder="fornavn" class="text-p_s md:text-p_m lg:text-p w-[70px] bg-none border-0 bg-transparent inline-block p-0 m-0 focus:ring-0 focus:border-pink cursor-pointer text-pink placeholder-pink" />
            <input type="text" value="" placeholder="efternavn" class="text-p_s md:text-p_m lg:text-p w-24 mb-4 md:mb-8 bg-none border-0 bg-transparent inline-block p-0 m-0 focus:ring-0 focus:border-pink cursor-pointer text-pink placeholder-pink" />
            <Button type="submit">Send donation</Button>
          </form>
        </div>
        <div class="">
          <img src="/img/seal.png" alt="" class="absolute z-10 w-[500px]" />
          <img src="/img/isbjerg.png" alt="" class="relative z-0" />
        </div>
      </div>
    </article>
  </section>
  <section id="merch?"></section>
</MainLayout>

<script>
  /* Import af Motion One biblioteket */
  import { animate, stagger, inView, scroll, timeline } from "motion";

  /* Parallaxgrafik turtle */
  scroll(animate(".parallaxgrafik1", { x: [100, 600] }), {
    target: document.querySelector(".parallaxgrafik"),
    offset: ["start end", "end start"],
  });

  /* Crossfade plastikpose */
  scroll(
    animate(".crossfadebottomimg", {
      opacity: [1, 0],
    }),
    {
      target: document.querySelector(".crossfadeimages"),
      offset: ["-25vh", "25vh"],
    }
  );

  /* Bevægelse af plastikpose i hero */
  animate(
    ".up20-1",
    { y: [0, -20, 0] }, // op og ned
    {
      duration: 5, // Animationens varighed i sekunder
      easing: "linear", // Blød overgang
      repeat: Infinity, // Gentager uendeligt
    }
  );
  animate(
    ".up20-2",
    { y: [0, -20, 0] }, // op og ned
    {
      duration: 7, // Animationens varighed i sekunder
      easing: "linear", // Blød overgang
      repeat: Infinity, // Gentager uendeligt
    }
  );
  animate(
    ".up20-3",
    { y: [0, -20, 0] }, // op og ned
    {
      duration: 6, // Animationens varighed i sekunder
      easing: "linear", // Blød overgang
      repeat: Infinity, // Gentager uendeligt
    }
  );

  animate(
    ".up10-1",
    { y: [0, -10, 0] }, // op og ned
    {
      duration: 5, // Animationens varighed i sekunder
      easing: "linear", // Blød overgang
      repeat: Infinity, // Gentager uendeligt
    }
  );

  animate(
    ".up10-2",
    { y: [0, -10, 0] }, // op og ned
    {
      duration: 4, // Animationens varighed i sekunder
      easing: "linear", // Blød overgang
      repeat: Infinity, // Gentager uendeligt
    }
  );
</script>
