---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import hero from "../assets/images/new_hero.png";
---

<MainLayout title="Titel">
  <section id="hero" class="bg-blue grid grid-cols-3">
    <img src="/img/new_hero.png" alt="" class="relative z-0 col-span-3" />
    <article class="col-start-3 justify-center text-center absolute z-40">
      <h1 class="text-[65px] md:text-[100px] lg:text-[170px] font-display text-white z-50">SINGLE USE</h1>
      <h1 class="text-[175px] md:text-[280px] lg:text-[430px] leading-[26px] md:leading-[55px] font-display text-pink pb-20 md:pb-32 lg:pb-48">SUCKS</h1>
      <h2 class="text-2xl md:text-3xl lg:text-5xl text-center font-rubik text-white px-8 md:px-44 pb-4">Vores verden kan ikke holde til mere unødvendig plastik.</h2>
      <Button>Støt os</Button>
    </article>
  </section>
  <section id="forurening" class="bg-blue text-white">
    <article class="grid justify-center">
      <h3 class="font-rubik text-xl md:text-4xl text-white text-center">Plastik: En fjende, der <span class="text-pink">ikke</span> forsvinder</h3>
      <p class="font-rubik prose text-white">Forureningen opstår blandt andet, når plastik ender i naturen. Her viser beregninger at det kan tage op til 500 år før det nedbrydes til mikroplastik. Man ved faktisk ikke om det forsvinder helt.</p>
      <p class="font-rubik prose text-white">I havet er det solens UV-stråler gør plastikken skrøbelig, og havets kræfter nedbryder den i millioner af små stykker.</p>
    </article>
  </section>
  <section id="støt">
    <article>
      <h3 class="font-rubik text-xl md:text-4xl text-blue text-center">Hjælp os med at <span class="text-pink">stoppe forureningen</span> i dag</h3>
      <div class="grid md:grid-cols-2 items-center">
        <div>
          <form action="" class="w-auto">
            <!-- BELØB -->
            Jeg vil gerne donerer
            <select class="bg-none border-0 bg-transparent inline-block p-0 m-0 focus:ring-0 focus:border-pink cursor-pointer border-b-2 border-pink text-pink">
              <option value="1" selected>et beløb</option>
              <option value="2">50 kr</option>
              <option value="3">100 kr</option>
              <option value="4">200 kr</option>
              <option value="2">300 kr</option>
            </select>

            <!-- GANGE -->
            <select class="bg-none border-0 bg-transparent inline-block p-0 m-0 focus:ring-0 focus:border-pink cursor-pointer border-b-2 border-pink text-pink">
              <option value="1" selected>antal gange</option>
              <option value="2">en gang</option>
              <option value="4">månedligt</option>
              <option value="2">årligt</option>
            </select>

            <!-- BETALINGSFORM -->
            med
            <select class="bg-none border-0 bg-transparent inline-block p-0 m-0 focus:ring-0 focus:border-pink cursor-pointer border-b-2 border-pink text-pink">
              <option value="1" selected>betalingsform</option>
              <option value="2">mobilepay</option>
              <option value="4">Dankort</option>
              <option value="2">Kreditkort</option>
            </select><br />

            <!-- PERSON OPLYSNINGER -->
            Jeg bor i
            <input type="text" value="" placeholder="postnummer" class="w-auto bg-none border-0 bg-transparent inline-block p-0 m-0 focus:ring-0 focus:border-pink cursor-pointer border-b-2 border-pink text-pink placeholder-pink" />
            og kan kontaktes på
            <input type="number" value="" placeholder="tlf." class="w-auto bg-none border-0 bg-transparent inline-block p-0 m-0 focus:ring-0 focus:border-pink cursor-pointer border-b-2 border-pink text-pink placeholder-pink" />
            eller
            <input type="email" value="" placeholder="mail" class="w-auto bg-none border-0 bg-transparent inline-block p-0 m-0 focus:ring-0 focus:border-pink cursor-pointer border-b-2 border-pink text-pink placeholder-pink" /><br />

            <!-- SKAT + SAMTYKKE -->
            Jeg ønsker
            <select class="bg-none border-0 bg-transparent inline-block p-0 m-0 focus:ring-0 focus:border-pink cursor-pointer border-b-2 border-pink text-pink">
              <option value="1" selected>fradrag fra SKAT</option>
              <option value="2">Ja</option>
              <option value="3">Nej</option>
            </select>
            , og giver mit
            <select class="bg-none border-0 bg-transparent inline-block p-0 m-0 focus:ring-0 focus:border-pink cursor-pointer border-b-2 border-pink text-pink">
              <option value="1" selected>samtykke</option>
              <option value="2">Ja</option>
              <option value="3">Nej</option>
            </select>
            til <a href="https://plasticchange.dk/privatlivspolitik/">Plastic Change</a><br />

            Med venlig hilsen,
            <input type="text" value="" placeholder="fornavn" class="bg-none border-0 bg-transparent inline-block p-0 m-0 focus:ring-0 focus:border-pink cursor-pointer border-b-2 border-pink text-pink placeholder-pink" />
            <input type="text" value="" placeholder="efternavn" class="bg-none border-0 bg-transparent inline-block p-0 m-0 focus:ring-0 focus:border-pink cursor-pointer border-b-2 border-pink text-pink placeholder-pink" />
          </form>
        </div>
        <div>
          <img src="/img/new_hero.png" alt="" />
        </div>
      </div>
    </article>
  </section>
  <section id="merch?"></section>
</MainLayout>
