---
import BeforeAfterComparison from "../components/BeforeAfterComparison.astro";
---

<section id="change">
  <div class="flex flex-col items-center h-screen w-100 bg-cover bg-center sticky top-0">
    <h3 class="w-3/4 lg:w-1/4 lg:ml-64 p-10 stickyparallax3">Plastik Change:</h3>
    <h3>En fremtid med <span class="text-pink">mindre plastik</span></h3>
    <p class="">Plastic Change arbejder mod en fremtid med mindre plastikforbrug ved at påvirke politiske beslutninger og fremme innovative løsninger i kampen mod plastikforurening.</p>
    <p>Målet er at beskytte miljøet og fremtidens generationer, og med din støtte kan vi fortsætte kampen.</p>
  </div>

  <div class="flex flex-col items-center h-screen w-100 bg-cover bg-center sticky top-0" style="background-color: white;">
    <div class="w-full stickyparallax4"><BeforeAfterComparison /></div>
  </div>
</section>
