---
const { variant = "primary", size = "small" } = Astro.props;

const buttonStyling = "bg-pink text-white hover:bg-dark_pink py-3 px-8 transition-all duration-500 ease-in-out rounded-[32px] transform scale-100 hover:scale-105";

const variantClasses = {
  primary: "font-rubik py-3 px-8 ",
};

const sizeClasses = {
  small: "text-md",
  medium: "text-lg",
  large: "text-xl",
};
---

<div>
  <button class={`${buttonStyling} ${variantClasses[variant]} ${sizeClasses[size]} text-base hover:text-[1.05em]`}><slot /></button>
</div>
