---
const { href = "#", target = "_self" } = Astro.props;
---

<a href={href} class="inline-block text-lg font-rubik text-blue hover:text-pink hover:underline transition-transform duration-200" target={target}><slot /></a>
